<?xml version="1.0"?>
<config>
    <modules>
        <Staempfli_Pdf>
            <version>0.1.0</version>
        </Staempfli_Pdf>
    </modules>
    <global>
        <models>
            <staempfli_pdf>
                <class>Staempfli_Pdf_Model</class>
            </staempfli_pdf>
        </models>
        <blocks>
            <staempfli_pdf>
                <class>Staempfli_Pdf_Block</class>
            </staempfli_pdf>
        </blocks>
        <helpers>
            <staempfli_pdf>
                <class>Staempfli_Pdf_Helper</class>
            </staempfli_pdf>
        </helpers>
        <events>
            <composer_autoload>
                <observers>
                    <module>
                        <class>staempfli_pdf/observer_autoload</class>
                        <method>listener</method>
                    </module>
                </observers>
            </composer_autoload>
        </events>
    </global>
    <frontend>
        <translate>
            <modules>
                <staempfli_pdf>
                    <files>
                        <default>Staempfli_Pdf.csv</default>
                    </files>
                </staempfli_pdf>
            </modules>
        </translate>
        <routers>
            <staempfli_pdf>
                <use>standard</use>
                <args>
                    <module>Staempfli_Pdf</module>
                    <frontName>pdf</frontName>
                </args>
            </staempfli_pdf>
        </routers>
    </frontend>
</config>